.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family: sans-serif;
}

.modal-header {
	padding: 10px 20px;
	background-color: #5cb85c;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header h2 {
	margin: 0;
	font-size: 20px;
}

.modal-body {
	padding: 15px 20px;
}

.close-modal {
	color: white;
	background: transparent;
	border: none;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}